PORT=5000
CLIENT_URL=http://localhost:3000

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=false

JWT_SECRET=
ENCRYPTION_KEY=

# Email settings
# EMAIL_MODE: dev | demo | production
EMAIL_MODE=dev
EMAIL_ENABLED=false
SMTP_FROM=SBLE <no-reply@sble.local>

# Used when EMAIL_MODE is demo/production
GMAIL_USER=
GMAIL_APP_PASSWORD=

TEMP_ADMIN_PASSWORD=
TEMP_LECTURER_PASSWORD=
TEMP_STUDENT_PASSWORD=

KEYCLOAK_REALM=sble
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_CLIENT_ID=sble-client

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
